.article-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.article-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.article-details {
    margin-bottom: 20px;
}

.author, .date {
    margin-right: 10px;
    color: whitesmoke;
}

.article-content {
    margin-bottom: 20px;
    line-height: 1.5;
}

.image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.article-meta {
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
}

.votes, .comments {
    margin-right: 10px;
}

.comments {
    margin-left: auto;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-message {
    font-size: 1.5rem;
    color: #FF5733; 
    text-align: center;
    padding: 20px; 
    border: 2px solid #FF5733; 
    border-radius: 8px; 
    background-color: #FFE6E6; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}